$pumpkin: #d66000;
$pumpkin-lighter: #f4d8c6;

$leaf: #469049;
$leaf-lighter: #d1e4d2;

$ocean: #048a90;
$ocean-lighter: #c5e3e3;

$orient: #005488;

$background: #f8f8f8;

$font-color-gray: #333;

$sea-green: #048a90;
$sea-green-lighter: rgba(5, 164, 174, 0.1);
$sea-green-darker: #026468;
