&__hero {
    background-image: url('../maine-sailboats@3x.png'); // this is as close as I could get it so far....
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%;
    height: 600px;
    padding: 100px 20px;
}