.legislation {

    &__hero {
        background-image: url('../maine-sailboats@3x.png'); // this is as close as I could get it so far....
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 75%;
        height: 600px;
        padding: 100px 20px;
    }

    &__heading {
        @include subheading();
        text-align: left;

        @media screen and (min-width: 768px) {
            font-size: 40px;
            letter-spacing: 1.5;
        }
    }

    &__info {
        padding: 0 20px;
        font-size: 20px;
        line-height: 1.4;
        color: $orient;

        @media screen and (min-width: 768px) {
            font-size: 25px;
        }
    }

    &-container {
        width: 100%;
        padding: 20px;
        background-color: $background;

        @media screen and (min-width: 768px) {
        }
    }

    .legislation__section--one-third {
        position: relative;

        @media screen and (min-width: 768px) {
            float: right;
            width: 33.3333%;
        }
    }

    .legislation__section--two-thirds {

        @media screen and (min-width: 768px) {
            width: 66.7%;
            padding-right: 20px;
        }
    }

    .legislation__img-calendar {

    }


    .legislation__img-taxcredit {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__subheading {
        @include subheading();
        text-align: left;
        padding: 20px 0 0;
        text-transform: none;
        margin-bottom: 0;
    }

    &__para {
        font-size: 18px;
        line-height: 1.4;
        color: $font-color-gray;
    }
}