&__button {
    background-color: $orient;
    padding: 15px;
    border-radius: 3px;
    width: 275px;
    cursor: pointer;
    border: none;

    @media screen and (min-width: 768px) {
        width: 500px;
    }
}