#contact {
    background-color: $background;
    height: 275px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 0 20px;
    text-align: center;

    @media screen and (min-width: 960px) {
        padding: 0 50px;
    }

    &__primary {
        @include subheading();

        @media screen and (min-width: 768px) {
            font-size: 40px;
        }
    }

    &__button {
        background-color: $orient;
        padding: 15px;
        border-radius: 3px;
        width: 275px;
        cursor: pointer;
        border: none;
        text-align: center;

        @media screen and (min-width: 768px) {
            width: 500px;
        }
    }

    &__link {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 34px
        }
    }

    &__icon {
        padding-left: 8px;
    }
}

#contact {
    background-color: $background;
    height: 275px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 0 20px;
    text-align: center;

    @media screen and (min-width: 960px) {
        padding: 0 50px;
    }

    &__button {
        background-color: $orient;
        padding: 15px;
        border-radius: 3px;
        width: 275px;
        cursor: pointer;
        border: none;
        text-align:center;

        @media screen and (min-width: 768px) {
            width: 500px;
        }
    }

    &--header {
        background-color: $orient;
        padding: 15px;
        border-radius: 3px;
        width: 10rem;
        cursor: pointer;
        border: none;
        margin-right: 20px;

        @media screen and (min-width: 768px) {
            width: 14rem;
            // margin-right: 4.5rem;
        }
    }
}