@mixin base() {
    background-image: url('../images/iStock_8293279_LARGE-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
    height: 406px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 20px;

    @media screen and (min-width: 500px) {
        background-image: url('../images/iStock_8293279_LARGE.jpg');
    }

    @media screen and (min-width: 768px) {
        height: 600px;
        padding: 50px 80px;
    }
}