&__content {
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 0;
    font-weight: 300;
    
    @media screen and (min-width: 768px) {
        font-size: 36px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 45px;
    }
}