@import './utilities/vars';
@import './utilities/mixins';
@import 'header/index';
@import 'main-hero/index';
@import 'statistics/index';
@import 'obstacles/index';
@import 'legislation/index';
@import 'benefit/index';
@import 'faq/index';
@import 'contact/index';
@import 'video/index';
@import 'footer/index';

* {
    box-sizing: border-box;
}

body {
    color: #111;
    margin: 0;
    font-family: Ubuntu;
}

* > :first-child {
    margin-top: 0;
}

* > :last-child {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.sup {
    color: $font-color-gray;
    font-size: 8px;

    &--white {
        color: white;
        font-size: 8px;
    }
}